body {
  margin: 30px;
}

.counter {
  border: 2px solid #ccc;
  padding: 20px;
  width: 150px;
  text-align: center;
  font-family: "Source Sans Pro";
  color: #555;
}

.counter h2 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}

.counter > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  margin: 0 20px;
  font-size: 30px;
  flex-basis: 40px;
  flex-grow: 0;
}

.counter button {
  border: 1px solid #ccc;
  color: #666;
  font-size: 20px;
  line-height: 0;
  height: 30px;
  width: 30px;
  transition: 0.2s all;
}

.counter button:active,
.counter button:focus {
  outline: none;
  box-shadow: 0 0 2px rgb(87, 156, 87);
}

.counter button:active {
  background-color: rgb(87, 156, 87);
  border-color: rgb(35, 141, 35);
  color: #fff;
}

.clear-button {
  margin-left: 1rem;
}
